name: CI
permissions: write-all

on:
  schedule:
    - cron: 0,30 * * * *

  push:
    branches: [ "main" ]
  #  pull_request:
  #    branches: [ "main" ]

  workflow_dispatch:

jobs:
  main:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: pwsh

    steps:
      - uses: actions/checkout@v6.0.0
      - name: Init Secret
        run: |
          #!/usr/bin/pwsh
          $cfg="secret/config.py"
          touch $cfg
          echo "this_repo=r'${{ github.repository }}'" >> $cfg
          echo "token=r'${{ secrets.PERSONALTOKEN }}'" >> $cfg
      - uses: actions/setup-python@v6.0.0
        with:
          python-version: "3.13"
      - name: Init Python Env
        run: |
          #!/usr/bin/pwsh
          . ./init.ps1
      - name: Check Env
        run: |
          #!/usr/bin/pwsh
          pwsh --version
          which uv
          uv self version
          uv run python --version
          uv pip list
      - name: Execute Script
        run: |
          #!/usr/bin/pwsh
          uv run fetch_external_config.py "${{ github.repository }}"
          uv run main.py

      - name: Clean Secret
        run: rm secret/config.py
